@model  HB8.CSMS.MVC.Models.Staff.StaffModel
<div class="row">
    <div class="col-md-2">
        <img class="img-rounded" src="~/Images/StaffImages/@Model.Image" alt="" height="110" width="110">
        <br />
        <br />
    </div>
    <div class="col-md-3">
        <input id="getId" type="hidden" value="@Model.ID" />
        <h3> <b>Tên nhân viên: </b></h3>
        <h3><b> Ngày sinh:</b> </h3>
    </div>
    <div class="col-md-7">
        <h3></h3>
        <h3> </h3>
    </div>
    <div class="col-md-12">
        <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a data-toggle="tab" href="#staff"><h5>Thông tin nhân viên</h5> </a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="staff">
                <div class="col-md-8">
                    <h3>Thông tin liên hệ:</h3>
                    <div class="col-md-4">
                        <h4><b>Địa chỉ:</b></h4>
                        <h4><b>Số điện thoại: </b></h4>
                        <h4><b>Email:</b></h4>
                        <h4><b>Fax:</b></h4>
                    </div>
                    <div class="col-md-8">
                        <h4></h4>
                        <h4></h4>
                        <h4></h4>
                        <h4></h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Chức vụ:</h3>
                    <div class="col-md-4">
                        <h4><b>Chức vụ:</b></h4>
                    </div>
                    <div class="col-md-8">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>