<ul class="nav navbar-nav side-nav">
    <li class="">
        <a class="navbar-brand" href="javascript:;" id="qlhd">Hóa đơn bán hàng</a>
    </li>
    <li class="">
        <a class="navbar-brand" href="javascript:;" id="qlkh">Quản lí khách hàng</a>
    </li>
    
</ul>
<script src="~/MyjQ/Main.js"></script>