<ul class="nav navbar-nav side-nav">
    <li class="">
        <a class="navbar-brand" href="javascript:;" id="dsbanhang">Doanh số bán hàng trong tháng</a>
    </li>  
</ul>
<script src="~/MyjQ/Main.js"></script>