<ul class="nav navbar-nav side-nav" style="background-image: url('../../Content/background/body_pattern.jpg');">
    <li class="">
        <a class="navbar-brand" href="Analyze/ChartForBillThisMonth" id="">Doanh số bán hàng trong tháng</a>
    </li>  
    <li class="">
        <a class="navbar-brand" href="Analyze/ChartForInventoryThisMonth" id="">Doanh số sản phẩm trong tháng</a>
    </li> 
</ul>
<script src="~/MyjQ/Main.js"></script>