
<ul class="nav navbar-nav side-nav" style="background-image: url('../../Content/background/body_pattern.jpg');">
    <li class="">
        <a class="navbar-brand" href="javascript:;" id="qlkh">Quản lí khách hàng</a>
    </li>
    <li>
        <a class="navbar-brand" href="javascript:;" id="qlsp">Quản lí sản phẩm</a>
    </li>
</ul>
<script src="~/MyjQ/Main.js"></script>