@model IEnumerable<HB8.CSMS.MVC.Models.BillSaleOrder.BillSaleOrderModel>
<tr class="rowForBillSaleOrder">
    <td class="text-center itemIdClass">
        <p></p>
    </td>
    <td class="text-center">
        <select class="form-control ddlInventoryForBill" data-rule-required="true" data-msg-required="Vui lòng chọn tên sản phẩm">
            <option selected="selected" value="">--Chọn sản phẩm--</option>
            @foreach (var item in Model)
            {
                <option value="@item.InvtID">@item.InvtName</option>
            }
        </select>
    </td>
    <td class="text-center">
        <input class="form-control quantity" type="text" data-rule-required="true" data-msg-required="Vui lòng nhập số lượng" data-val-number="Số lượng là một số" value="1" placeholder="1" />
    </td>
    <td class="text-center columnUnitForBillSaleOrder" id="">
        <select class="form-control ddlUnitForBill" data-rule-required="true" data-msg-required="Vui lòng chọn đơn vị tính">
            <option selected="selected" value="">--Chọn đơn vị tính--</option>
        </select>
    </td>
    <td class="text-center columnPriceForBillSaleOrder">
        <p>0</p>
    </td>
    <td class="text-center">
        <input class="form-control disc" type="text" data-val-number="Số lượng là một số" value="0" placeholder="0" />
    </td>
    <td class="text-center">
        <p>
            <select class="form-control ddlTaxForBill">
                <option selected="selected" value="0">--Chọn mức thuế--</option>
                <option value="5">Thuế GTGT phải nộp 5%</option>
                <option value="10">Thuế GTGT phải nộp 10%</option>
                <option value="15">Thuế GTGT phải nộp 15%</option>
            </select>
        </p>

    </td>
    <td class="text-center totalprice">
       <p>0</p>
    </td>
    <td>
        <button type="button" class="btn btn-default btnOkForBillSaleOrder" aria-label="Left Align">
            <span class="glyphicon glyphicon-ok " aria-hidden="true"></span>
        </button>
    </td>
    <td>
        <button type="button" class="btn btn-default btnDeleteForBillSaleOrder" aria-label="Left Align">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </td>

</tr>
<script src="~/MyjQ/bill.partialview.js"></script>