<tr>
    <td class="text-center itemIdClass">
        <input class="ID" type="hidden" value="" name="">
    </td>
    <td class="text-center">

        <p></p>

    </td>
    <td class="text-center">

        <p></p>

    </td>
    <td class="text-center">

        <p></p>

    </td>
    <td class="text-center">

        <p></p>

    </td>
    <td class="text-center">

        <p></p>

    </td>
</tr>