<tr>
    <td class="text-center itemIdClass">
        <input class="ID" type="hidden" value="" name="">
    </td>
    <td class="text-center">

        <p></p>

    </td>
    <td class="text-center">

        <p></p>

    </td>
    <td class="text-center">

        <p></p>

    </td>
    <td class="text-center">

        <p></p>

    </td>
    <td class="text-center">

        <p></p>

    </td>
    <td class="text-center"></td>
    <td>
        <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </td>
</tr>